nextflow.enable.dsl = 2
conda.enabled = true

// Determine necessary QIIME 2 Conda envs to incorporate.
// Taken from nf-ducken.
sys_properties = System.getProperties()
executor_sys  = sys_properties['os.name'].toLowerCase()
if (executor_sys.contains("mac")) {
    sys_abbreviation = "osx"
} else {
    sys_abbreviation = "linux"   // Note Windows users need QIIME 2 on WSL
}

params.qiime_release = '2024.5-py39'
params.qiime_conda_env  = "${baseDir}/assets/qiime2-amplicon-${params.qiime_release}-${sys_abbreviation}-conda.yml"
// params.qiime_conda_env   = "/Users/robesonmichael/AnalysisSoftware/miniconda3/envs/qiime2-amplicon-2024.5"

params.primer_pairs = [
    ['27F338R', 'AGAGTTTGATYMTGGCTCAG', 'GCTGCCTCCCGTAGGAGT'],
    ['27F534R', 'AGAGTTTGATYMTGGCTCAG', 'ATTACCGCGGCTGCTGG'],
    ['357wF805R', 'CCTACGGGNGGCWGCAG',	'GACTACHVGGGTATCTAATCC'],
    ['357wF806R', 'CCTACGGGNGGCWGCAG', 'GGACTACHVGGGTWTCTAAT'],
    ['515F806R', 'GTGYCAGCMGCCGCGGTAA', 'GGACTACNVGGGTWTCTAAT'],
    ['515F926R', 'GTGYCAGCMGCCGCGGTAA', 'CCGYCAATTYMTTTRAGTTT'],
    ['515F944R', 'GTGCCAGCMGCCGCGGTAA', 'GAATTAAACCACATGCTC'],
    ['939F1378R', 'GAATTGACGGGGGCCCGCACAAG', 'CGGTGTGTACAAGGCCCGGGAACG'],
]


params.outdir = 'results'

params {
    
    executor.cpus = 8
    executor.memory = '64 GB'

    get_silva {
        version   = '138.1'
        target    = 'SSURef_NR99'
        ranks     = 'domain phylum class order family genus'
        memory    = '4 GB'
    }

    get_gtdb {
        version   = '214.1'
        domain    = 'Both'
        dbtype    = 'SpeciesReps'
        memory    = '4 GB'
    }

    get_rdp {
        memory    = '4 GB'
    }

    derep {
        mode      = 'uniq'
        threads   = 4
        memory    = '4 GB'
    }

    amp_extract {
        jobs      = 4
        memory    = '4 GB'
    }

    train {
        cpus      = 1
        memory    = '20 GB'
    }

}


process {

    withName: '.*_GTDB' {
        publishDir = [
            path: "${params.outdir}/gtdb",
            mode: 'copy',
        ]
    }

    withName: '.*_RDP' {
        publishDir = [
            path: "${params.outdir}/rdp",
            mode: 'copy',
        ]
    }

    withName: '.*_SILVA' {
        publishDir = [
            path: "${params.outdir}/silva",
            mode: 'copy',
        ]
    }

}



// process {
//    withLabel: 'process_cpu_low_mem_low' {
//        cpus = 1
//        memory = '4 GB'
//    }
//
//    withLabel: 'process_cpu_low_mem_mead' {
//        cpus = 1
//        memory = '20 GB'
//    }
//
//    withLabel: 'process_cpu_low_mem_high' {
//        cpus = 1
//        memory = '56 GB'
//    }
// }
