nextflow.enable.dsl = 2
conda.enabled = true

params.outdir = 'results'
params.qiime_conda_env   = "${baseDir}/assets/qiime2-amplicon-2024.2-py38-osx-conda.yml"

params.primer_pairs = [
    ['27F338R', 'AGAGTTTGATYMTGGCTCAG', 'GCTGCCTCCCGTAGGAGT'],
    ['27F534R', 'AGAGTTTGATYMTGGCTCAG', 'ATTACCGCGGCTGCTGG'],
    ['357wF805R', 'CCTACGGGNGGCWGCAG',	'GACTACHVGGGTATCTAATCC'],
    ['357wF806R', 'CCTACGGGNGGCWGCAG', 'GGACTACHVGGGTWTCTAAT'],
    ['515F806R', 'GTGYCAGCMGCCGCGGTAA', 'GGACTACNVGGGTWTCTAAT'],
    ['515F926R', 'GTGYCAGCMGCCGCGGTAA', 'CCGYCAATTYMTTTRAGTTT'],
    ['515F944R', 'GTGCCAGCMGCCGCGGTAA', 'GAATTAAACCACATGCTC'],
    ['939F1378R', 'GAATTGACGGGGGCCCGCACAAG', 'CGGTGTGTACAAGGCCCGGGAACG'],
]

params {
    
    executor.cpus = 8
    executor.memory = '64 GB'

    get_silva {
        version   = '138.1'
        target    = 'SSURef_NR99'
        ranks     = 'domain phylum class order family genus'
    }

    get_gtdb {
        version = '214.1'
        domain  = 'Both'
        dbtype  = 'SpeciesReps'
    }

    derep {
        mode     = 'uniq'
        threads  = 4
    }

    amp_extract {
        jobs = 4
    }

}