nextflow.enable.dsl = 2

// Determine necessary QIIME 2 Conda envs to incorporate.
// Taken from nf-ducken.
sys_properties = System.getProperties()
executor_sys  = sys_properties['os.name'].toLowerCase()
if (executor_sys.contains("mac")) {
    sys_abbreviation = "osx"
} else {
    sys_abbreviation = "linux"   // Note Windows users need QIIME 2 on WSL
}

params.qiime_release = '2024.10-py310'
params.qiime_conda_env  = "${baseDir}/assets/qiime2-amplicon-${params.qiime_release}-${sys_abbreviation}-conda.yml"
// params.qiime_conda_env   = "/Users/robesonmichael/AnalysisSoftware/miniconda3/envs/qiime2-amplicon-2024.5"

// Load base.config by default for all pipelines
includeConfig './conf/base.config'
includeConfig './conf/ssu.config'
includeConfig './conf/ess.config'

params.pipeline_type = 'ess'


profiles {

    local {
        process.executor    = 'local'
        conda.enabled       = true
        process.conda       = params.qiime_conda_env
        executor.cpus       = 8
        executor.memory     = '64 GB'
    }

    cluster {
        process.executor            = 'slurm'
        executor.submitRateLimit    = '6/1min'
        executor.queueSize          = 20
        process.queue               = 'xeon'
        conda.enabled               = true
        process.conda               = params.qiime_conda_env
    }

    // ssu {
    //     includeConfig './conf/ssu.config'
    // }

    // ess {
    //     includeConfig './conf/ess.config'
    // }

}
