

params {
    derep {
        mode      = 'uniq'
    }
}

process {

    withLabel: 'derep' {
        cpus       = 8
        memory     = '32 GB'
        queue      = 'xeon'
        time       = '2h'
    }

    withLabel: 'amp_reg_extract' {
        cpus       = 8
        memory     = '32 GB'
        queue      = 'xeon'
        time       = '4h'
    }

    withLabel: 'train_classifier' {
        cpus       = 1
        memory     = '64 GB'
        queue      = 'xeon'
        time       = '36h'
    }

    withLabel: 'cull' {
        cpus       = 8
        memory     = '2 GB'
        queue      = 'xeon'
        time       = '2h'
    }

    withLabel: 'tabseqs' {
        cpus       = 1
        memory     = '2 GB'
        queue      = 'xeon'
        time       = '1h'
    }

}