

params {
    derep {
        mode      = 'uniq'
    }

    cull {
        degen     = '5'
        hpoly     = '8'
    }

}

process {

    withLabel: 'derep' {
        cpus       = 4
        memory     = '16 GB'
        queue      = params.queue
        time       = '2h'
    }

    withLabel: 'amp_reg_extract' {
        cpus       = 4
        memory     = '16 GB'
        queue      = params.queue
        time       = '4h'
    }

    withLabel: 'train_classifier' {
        cpus       = 1
        memory     = '24 GB'
        queue      = params.queue
        time       = '36h'
    }

    withLabel: 'cull' {
        cpus       = 4
        memory     = '2 GB'
        queue      = params.queue
        time       = '2h'
    }

    withLabel: 'tabseqs' {
        cpus       = 1
        memory     = '2 GB'
        queue      = params.queue
        time       = '1h'
    }

}