

params.outdir = 'ess_results'

params.seqsegs = [
    'trnL',
    'trnLgh',
    '/Users/mike/Documents/tmp/nf-iter/data/trnLgh-seqs-derep-sub.qza'
]

params.seqs = [
    'trnL',
    'full',
    '/Users/mike/Documents/tmp/nf-iter/data/trnL-ref-seqs-derep-sub.qza'
]

params.taxa = [
    'trnL',
    'full',
    '/Users/mike/Documents/tmp/nf-iter/data/trnL-ref-tax.qza'
]

params.iter = 3


process {

    withName: 'ESS_.*' {
        publishDir = [
            path: "${params.outdir}/extract",
            mode: 'copy',
        ]
    }

    withLabel: 'ess_extseqsegs' {
        cpus       = 8
        memory     = '24 GB'
        queue      = params.queue
        time       = '2h'
    }

}