

params.outdir = 'ssu_results'

params.primer_pairs = [
// Some primer-pair combinations may simply not work... 
// Especially, if a primer is towards the end of the full length
// SSU sequence, as there is likely no primer sequence present
// at that location. May need to use ESS pipeline, or use direct
// alignment position extraction, for these cases.
// Also do not use 'full' as a name, it's resrved.
//    ['27F338R', 'AGAGTTTGATYMTGGCTCAG', 'GCTGCCTCCCGTAGGAGT'],
//    ['27F534R', 'AGAGTTTGATYMTGGCTCAG', 'ATTACCGCGGCTGCTGG'],
    ['357wF805R', 'CCTACGGGNGGCWGCAG',	'GACTACHVGGGTATCTAATCC'],
    ['357wF806R', 'CCTACGGGNGGCWGCAG', 'GGACTACHVGGGTWTCTAAT'],
    ['515F806R', 'GTGYCAGCMGCCGCGGTAA', 'GGACTACNVGGGTWTCTAAT'],
    ['515F926R', 'GTGYCAGCMGCCGCGGTAA', 'CCGYCAATTYMTTTRAGTTT'],
//    ['515F944R', 'GTGCCAGCMGCCGCGGTAA', 'GAATTAAACCACATGCTC'],
//    ['939F1378R', 'GAATTGACGGGGGCCCGCACAAG', 'CGGTGTGTACAAGGCCCGGGAACG'],
]

params {

    get_silva {
        version   = '138.2'
        target    = 'SSURef_NR99'
        ranks     = 'domain phylum class order family genus'
    }

    get_gtdb {
        version   = '220.0'
        domain    = 'Both'
        dbtype    = 'SpeciesReps'
    }

}


process {

    withName: '.*_GTDB' {
        publishDir = [
            path: "${params.outdir}/gtdb",
            mode: 'copy',
        ]
    }

    withName: '.*_RDP' {
        publishDir = [
            path: "${params.outdir}/rdp",
            mode: 'copy',
        ]
    }

    withName: '.*_SILVA' {
        publishDir = [
            path: "${params.outdir}/silva",
            mode: 'copy',
        ]
    }

    withLabel: 'get_silva|get_gtdb|get_rdp' {
        // Comment the `executor` line below if your HPC worker nodes
        // can access the internet. This will submit these tasks to
        // your job schedular. Otherwise, leave uncommented if your
        // HPC can't access the internet and it will the processes
        // with the specified labels on the login / head node.
        executor   = 'local'
        cpus       = 1
        memory     = '2 GB'
        queue      = 'xeon'
        time       = '1h'
    }

}